[Desktop Entry]
Name=Relinux
GenericName=Relinux
Comment=Linux distro creation toolkit
Exec=relinux
Icon=relinux
Terminal=false
Type=Application
Categories=System;
Keywords=Linux;Distro;Toolkit;Creator;Creation;Free;
