[Desktop Entry]
Name=Relinux
GenericName=Relinux
Comment=Linux distro creation toolkit
TryExec=gksu relinux
Exec=gksu relinux
Icon=relinux
Terminal=false
Type=Application
Categories=Accessories;System;
Keywords=Linux;Distro;Toolkit;Creator;Creation;Free;