#MainWindow, #centralwidget, QWidget {
	background-color: white;
	background: white;
	color: black;
	selection-background-color: #aaa;
	background-image: none;
	background-origin: padding;
	subcontrol-origin: margin;
	border-image: none;
}

QCheckBox::indicator {
	width: 1.2em;
}

QCheckBox::indicator, QComboBox, QTextEdit {
	height: 1.2em;
}

QTabWidget::pane {
	border: 1px solid #aaa;
	border-radius: 2px;
	border-top-color: #eee;
}

QScrollBar, QScrollArea, QTextEdit {
	border: 0px;
	border-radius: 0px;
	background: transparent;
	padding: 20px 0 20px 0;
	margin: 0;
}

QScrollBar {
	width: 20px;
}

QScrollBar::handle {
	min-height: 20px;
}

QScrollBar::add-line, QScrollBar::sub-line {
	height: 20px;
	color: #bbb;
}

QScrollBar::up-arrow, QScrollBar::down-arrow {
	color: #bbb;
}

QCheckBox::indicator::checked, QComboBox::drop-down, QProgressBar::chunk {
	background: #aaa;
}

QPushButton, QTabBar::tab, QLineEdit, QScrollBar::handle, QScrollBar, QScrollBar::add-line,
QScrollBar::sub-line, QCheckBox::indicator, QComboBox, QComboBox QAbstractItemView, QProgressBar,
QPlainTextEdit {
	border: 1px solid #aaa;
	border-radius: 5px;
}

QProgressBar {
	text-align: center;
}

QPushButton, QTabBar::tab, QLineEdit, QComboBox {
	padding: 2px 7px;
}

QPushButton:disabled, QLineEdit:read-only {
	color: #bbb;
}

QComboBox::drop-down, QComboBox::down-arrow {
	border: 0px;
	color: #000;
}

QPushButton:hover, QTabBar::tab:hover, QMenuBar::item:selected,
QMenu:selected, QMenu::item:selected, QLineEdit:hover, QLineEdit:focus, QScrollBar::handle:hover,
QScrollBar::add-line:hover, QScrollBar::sub-line:hover, QCheckBox::indicator:hover, QComboBox:hover,
QComboBox QAbstractItemView {
	border-color: #008ffe;
}

QPushButton:pressed, QTabBar::tab:selected, QScrollBar::handle:pressed, QScrollBar::add-line:pressed,
QScrollBar::sub-line:pressed, QCheckBox::indicator:pressed, QMenu::item:pressed {
	border-color: #f00;
}

QTabBar::tab, QComboBox:on {
	border-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

QComboBox QAbstractItemView {
	border-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

QTabBar::tab:!selected {
	margin-top: 1px;
}

QMenuBar::item, QMenu {
	spacing: 4px;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 2px 7px;
}

QMenu {
	border-color: #aaa;
}

QMenu::item {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 2px 8px;
	margin: 2px;
}